html {
    background-color: lightslategrey;
}
body {
    margain: auto;
    max-width: 600px;
    height: 600px;
    background-color: azure;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: purple;
}
div{
    border-width: 1px;
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
    }
#billy {
color: darkred;
}
#bob {
    color:darkgreen;

}
p.two{
font-size: larger;

}
p.three{
    font-size: smaller;
}
#bob a{

text-decoration:line-through;
}
#bob p.two a{

    text-decoration: underline overline;
    color: orange;
}
